<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Investments</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../CSS/main.css" />
  <script async src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Custom JavaScript -->
  <script defer src="../../JS/dashboard.js"></script>
</head>
<body class="main">
<%- include("partials/_alert")%>
    <%- include("partials/adminSidebar"); -%>
    <section>
        <div class="flex flex-col items-center justify-center">
            <div class="mt-20 text-center">
              <h1 class="text-2xl text-black font-bold md:text-4xl">Investments</h1>
              <h4 class="text-sm mt-2 md:text-base">
                Total Of <span class="text-darkBlue font-bold text-base md:text-xl">
                  <%= investments.length %>
                </span> Investments.
              </h4>
              <h3 class="my-10 text-black font-bold text-base md:text-2xl">
                All Investments
              </h3>
            </div>
          </div> 
          <% investments.forEach(investment=> { %>
          <div class="flex flex-col items-center justify-center">
            <button class="another collapsible">
              <div class="flex flex-row items-center justify-evenly">
                <h4 class="text-sm md:text-base capitalize text-green-600">
                  <%= investment.user.name %>
                </h4>
                <p class="text-xs md:text-sm capitalize text-green-600">
                  <%= investment.plan %>
                </p>
                <p class="text-xs md:text-sm capitalize text-green-600">
                  <%= investment.status %>
                  </p>
              </div>
            </button>
            <div class="content">
              <h4 class="text-darkBlue text-sm mt-6 md:text-base">
                <span class="text-black">Username:</span>
                <%= investment.user.name %>
              </h4>
              <hr>
              <h4 class="text-darkBlue text-sm mt-2 md:text-base capitalize">
                <span class="text-black">Package:</span>
                <%= investment.plan %>
              </h4>
              <hr>
              <h4 class="text-darkBlue text-sm mt-2 md:text-base">
                <span class="text-black">Invested Amount:</span> $<%= investment.amount %>
              </h4>
              <hr>
              <h4 class="text-darkBlue text-sm mt-2 md:text-base">
                <span class="text-black">Started Date and Time:</span>
                <%= investment.createdAt.toLocaleDateString() %>
              </h4>
              <hr>
              <h4 class="text-darkBlue text-sm mt-2 md:text-base">
                <span class="text-black">Expiring Date and Time:</span>
                <%= investment.expiresAt.toLocaleDateString() %>
              </h4>
              <hr>
              <h4 class="text-darkBlue text-sm mt-2 md:text-base capitalize">
                <span class="text-black">Status:</span>
                <%= investment.status %>
              </h4>
            </div>
          </div>   
          <% }) %>
    </section>
    <%- include ("partials/script"); -%>
    <script src="../../JS/collapsible.js"></script>
</body>
</html>