<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../CSS/main.css" />
  <link rel="stylesheet" href="../../CSS/toast.css" />

  <script async src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Custom JavaScript -->
  <script defer src="../../JS/dashboard.js"></script>

</head>

<body class="main">
  <%- include("partials/adminSidebar"); -%>
    <section>
      <div class="flex flex-col items-center justify-center">
        <div class="my-20 text-center">
          <h1 class="text-2xl text-black font-bold md:text-4xl">Deposit</h1>
          <h4 class="text-sm mt-2 text-darkBlue md:text-base">
            Total Of <span class="text-black">
              <%= deposits.length %>
            </span> Transactions.
          </h4>
          <h3 class="mt-10 text-black font-bold text-base md:text-2xl">
            All Orders
          </h3>
        </div>
      </div>
      
      <% deposits.forEach( (deposit, index)=> { %>
        <div class="flex flex-col items-center justify-center">
          <button class="another collapsible ">
            <div class="flex flex-row items-center justify-evenly my-auto">
              <h4 class="text-sm md:text-base capitalize">
                <%= deposit.type%>
              </h4>
              <p class="text-xs md:text-sm">
                <%if(deposit.status==="pending" ){%>
                  <form action="/user/admin/deposit?_method=patch" method="post">
                    <input type="hidden" name="id" value="<%= deposit._id %>">
                    <input
                      class="text-green-600 text-xs mr-2 font-light capitalize hover:underline hover:cursor-pointer md:text-sm"
                      type="submit" value="confirm" name="approve">
                    <input
                      class="text-red-600 text-xs mt-1 font-light capitalize hover:underline hover:cursor-pointer md:text-sm md:mt-0"
                      type="submit" value="reject" name="approve">
                  </form>
                  <% } else {%>
                    <h4 class="text-<%= deposit.status===" successful".trim() ? "green" : "red" %>-600 mt-1.5
                      text-xs
                      md:text-sm">
                      <%= deposit.status==="successful" ? "Completed" : "Rejected" %>
                    </h4>
                    <% }%>
              </p>
              <p class="text-xs md:text-sm">
                <%= deposit.createdAt.toLocaleString('en-US') %>
              </p>
            </div>
          </button>
          <div class="content">
            <h4 class="text-darkBlue text-sm mt-6 md:text-base">
              <span class="text-black">Username:</span> <%= deposit.user.name %>
            </h4>
            <hr>
            <h4 class="text-darkBlue text-sm mt-2 md:text-base capitalize">
              <span class="text-black">Transaction:</span> <%= deposit.type%>
            </h4>
            <hr>
            <h4 class="text-darkBlue text-sm mt-2 md:text-base">
              <span class="text-black">Amount:</span> $<%= deposit.amount %>
            </h4>
            <hr>
            <h4 class="text-darkBlue text-sm mt-2 md:text-base">
              <span class="text-black">Wallet:</span> <%= deposit.medium %>
            </h4>
            <hr>
            <h4 class="text-darkBlue text-sm mt-2 md:text-base"><span class="text-black">Transaction ID:</span> <%= deposit.transactionID %></h4>
            <hr>
            <h4 class="text-darkBlue text-sm mt-2 md:text-base">
              <span class="text-black">Date and Time: </span><%= deposit.createdAt.toLocaleString('en-US') %>
            </h4>
            <hr>
            <h4 class="text-darkBlue text-sm mt-2 md:text-base">
              <%if(deposit.status==="pending" ){%>
                <form action="/user/admin/deposit?_method=patch" method="post">
                  <input type="hidden" name="id" value="<%= deposit._id %>">
                  <input
                    class="text-green-600 text-xs mr-2 font-light capitalize hover:underline hover:cursor-pointer md:text-sm"
                    type="submit" value="confirm" name="approve">
                  <input
                    class="text-red-600 text-xs mt-1 font-light capitalize hover:underline hover:cursor-pointer md:text-sm md:mt-0"
                    type="submit" value="reject" name="approve">
                </form>
                <% } else {%>
                  <h4 class="mb-6 text-<%= deposit.status===" successful" ? "green" : "red" %>-600 mt-1.5
                    text-xs
                    md:text-sm">
                    <%= deposit.status==="successful" ? "Completed" : "Rejected" %>
                  </h4>
                  <% }%>
                </h4>
          </div>
        </div>



        <%})%>
          
    </section>
    <%- include ("partials/script"); -%>
      <script src="../../JS/collapsible.js"></script>
</body>

</html>