
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/f5af09e245.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Jivo Chat -->
    <!-- <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script> -->
  </head>
  <body class="bg-white dark:bg-lightBlack">
    <%- include("partials/nav"); -%>
    <section id="Top">
      <div
        class="w-14 h-14 rounded-full bg-white dark:bg-black fixed top-20 left-2 z-30 flex justify-center items-center"
      >
        <ion-icon
          class="text-3xl text-black dark:text-white sun-icon hover:cursor-pointer"
          name="sunny"
        ></ion-icon>
        <ion-icon
          class="text-3xl text-black dark:text-white moon-icon hover:cursor-pointer"
          name="moon"
        ></ion-icon>
      </div>
      <div class="w-full relative h-4/5">
        <div class="w-full absolute bg-darkBlue dark:bg-lightBlue h-96"></div>
        <div
          class="w-full absolute flex flex-col items-center justify-center h-96"
        >
          <h1
            class="dark:text-black text-white text-4xl md:text-5xl text-center font-bold"
          >
            Latest News And Updates
          </h1>
          <p
            class="text-xs md:text-sm dark:text-black text-white capitalize mt-2 text-center p-1"
          >
          Stay up to date on SpaceX's shares with the latest news and analysis.
          </p>
          <div class="aboutUs mt-6 space-x-4 flex px-2">
           <a href="/user/create"><button class="duration-500 text-xs uppercase font-semibold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                ></path>
              </svg>
              <span>Open A Free Account</span>
            </button></a> 
            <a href="/"><button class="duration-500 text-xs uppercase font-semibold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                ></path>
              </svg>
              <span>Go To Home Page</span>
            </button></a>
          </div>
        </div>
      </div>
    </section>
    <section id="Main Body">
    <div class="mt-96 p-4 md:p-20">
    <h1 class="text-black dark:text-white text-3xl md:text-5xl my-4">Latest News</h1>
    <p class="text-grey capitalize leading-relaxed"> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1 class="text-black dark:text-white text-2xl md:text-4xl mt-10 mb-4"><%=post.title%></h1>
    <p class="text-grey capitalize leading-relaxed">
    <%=post.content.substring(0, 400) + " ..."%>
    <a class="text-darkBlue dark:text-lightBlue hover:underline" href="/posts/<%=post._id%>">Read More</a>
    </p>
    <% }) %>
  </div>
</section>
<%- include("partials/footer"); -%>
<script src="../JS/news.js"></script>
<!-- Iconic Icon Scripts -->
<script
type="module"
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
nomodule
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
  </body>
</html>