<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- Favicon -->
  <link
  rel="shortcut icon"
  href="../Images/logo.ico"
  type="image/x-ico"
/>
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
       <!-- Bootstrap Icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script defer src="../JS/dashboard.js"></script>
   <!-- Jivo Chat -->
   <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>
</head>

<body class="bg-darkGray main">
  <%- include ("partials/sidebar"); -%> 
      <section>
        <div class="flex flex-col items-center justify-center">
          <div class="mt-32 mb-10">
            <h4 class="text-sm text-center text-darkBlue md:text-base">Referral</h4>
            <h1 class="flex flex-row items-center text-2xl mt-2 text-brightBlue font-bold md:text-4xl">
              Your Referral List <span><img class="ml-1 h-14" src="../Images/refer.png" alt="This is a refer icon"></span>
            </h1>
          </div>



          <table class="mx-auto mt-12 mb-1 border-collapse w-3/4 text-sm bg-white rounded-md md:mx-auto">
            <thead class="">
              <tr class=" text-left h-16 border-b-2 border-cyan-500">
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center">
                  User name</th>
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center">
                  Date</th>
                <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold text-center">
                  Status</th>
              </tr>
            </thead>
            <tbody>
              <% user.referrals.forEach(referral=> {%>
                <tr class="border-b-1 h-10">
                  <td class="border text-sm capitalize">
                    <%= referral.username || "user" %>
                  </td>
                  <td class="border text-sm capitalize">
                    <%= referral.createdAt.toLocaleDateString()%>
                  </td>
                  <td class="border text-sm">
                    Success
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>

          <div class="mt-20">
            <p class="text-darkBlue text-center text-xs md:text-base">Invite Your Friends</p>
            <div class="p-2 w-auto mt-4 border-brightBlue border-2 rounded-md">
              <a onclick="copy()">
                <p id="referral-link" class="text-brightBlue text-center mt-2.5 text-xs md:text-base md:mt-1">
                  https://www.spacexshares.net/user/create?ref=<%= user.userId %>
                </p>
              </a>
              <p class="text-xs mt-4 font-thin text-center text-darkBlue md:text-sm"> <span><ion-icon
                    name="information-circle-outline"></ion-icon></span> Tap the link to copy it to your CLIPBOARD
              </p>
            </div>
          </div>
        </div>
      </section>
      <script src="../JS/referral.js"></script>
      <%- include ("partials/script"); -%>
</body>

</html>